<div fxLayout="column" fxLayoutGap="10px">
    <span class="label" color="primary">
        Enter a name
    </span>
    <input type="text" id="playlist-name-input" maxlength="16">
    <div fxLayout="row" fxLayoutAlign="end center" color="primary">
        <button class="add-button action-button" mat-dialog-close>
            <mat-icon class="cancel-button" [inline]="true">cancel</mat-icon>
        </button>
        <button class="good-button action-button" fxFlexOffset="5" (click)="CheckClicked($event)">
            <mat-icon width="100%" [inline]="true">check</mat-icon>
        </button>
    </div>
</div>
