<div>
    <div fxLayout="row" >
        <div class="title-label">
            Your playlists
        </div>
        <button class="add-button" fxFlexOffset="5" (click)="CreatePlaylist()">
            <mat-icon [inline]="true">add</mat-icon>
        </button>
    </div>
        
    <div id="playlist-container" *ngFor="let playlist of backendService.playlists" fxLayout="row" fxLayoutAlign="space-evenly center">
        <button mat-button color="primary" id="playlist-card" (click)="ShowPlaylist(playlist)">
            {{playlist.playlist_title}}
        </button>
        <button mat-button color="primary" (click)="PlayClicked(playlist, false)">
            <mat-icon>
                play_arrow
            </mat-icon>
        </button>
        <button mat-button color="primary" (click)="PlayClicked(playlist, true)">
            <mat-icon>
                shuffle
            </mat-icon>
        </button>
        <button mat-button class="delete-button" (click)="DeleteClicked(playlist)">
            <mat-icon>
                delete
            </mat-icon>
        </button>
    </div>
</div>
