#main-container {
    background-color: rgb(24, 20, 20);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#center-elements {
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}

#right-container {
    margin-top: 50px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#play-button-container {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-bottom: 50px;
}

#play-button {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url('../../../assets/play-button.png');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: transparent;
    border-color: transparent;
    transition: background-image .3s ease;
}

#slider-audio {
    width: 30%;
    height: 15px;
    background: #19972e;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
    margin-right: 20px;
}

#slider-audio:hover {
    opacity: 1;
}

#slider-audio::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: #19972e;
    cursor: pointer;
}

#slider-audio::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

#slider-progress {
    width: 75%;
    height: 15px;
    background: #19972e;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 50px;
    border-radius: 20px;
}

#slider-progress:hover {
    opacity: 1;
}

#slider-progress::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: #19972e;
    cursor: pointer;
}

#slider-progress::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

#input {
    font-size: 50px;
    color: white;
    width: 500px;
}

mat-form-field {
    width: 100%;
    margin-right: 20px;
}

#button {
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    width: 100px;
    color: grey;
}

#button:hover {
    color: white;
}

#search-bar {
    display: flex;
}

.song-button {
    background-color: transparent;
    border-color: transparent;
    color: #19972e;
    font-family: monospace;
    font-size: 30px;
    white-space: normal;
    word-wrap: break-all;
    width: 100%;
    text-align: left;
    border-radius: 20px;
}

.song-button:hover {
    background-color: rgb(30, 30, 30);
}

#songs-container {
    display: block;
    padding-left: 0px;
    list-style-type: none;
}

.list-item {
    margin-top: 20px;
    display: block;
   
}

.song-container {
    width: 100%;
}

#volume-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#volume-image {
    background-color: transparent;
}

#views-label {
    font-size: 20px;
    color: yellowgreen;
}

#music-playing-label {
    font-size: 30px;
    color: yellowgreen;
    margin-bottom: 30px;
    line-height: 30px;
    

}