<app-top-bar></app-top-bar>
<div id="main-container">
    <div id="center-elements">
        <div id="search-bar">
            <mat-form-field>
            <input id="input" matInput placeholder="Enter a song" (keypress)="VerifyInput($event)" [(ngModel)]="keyword">
            </mat-form-field>
            <button mat-button id="button" (click)="ButtonClicked()">Go</button>
        </div>
        <div id="songs-container" fxLayout="row" fxLayoutAlign="space-evenly center">
            <li class="list-item" *ngFor="let song of this.musicGetterService.songs">
                <div class="song-container">
                    <button mat-button (click)="SongClicked(song.video_id)" class="song-button">{{song.video_title}}</button>
                </div>
            </li>
        </div>
    </div>
    <div id="left-container">
        <span id="play-button-container">
            <button id="play-button" (click)="PlayClicked()"></button>
        </span>
        <input type="range" min="1" max="100" value="50" class="slider" (change)="VolumeChanged($event)">
    </div>
    <audio #player id="player"></audio>
</div>