#main-container {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

#center-elements {
    margin-top: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

#input {
    font-size: 50px;
    color: white;
    width: 500px;
}

mat-form-field {
    width: 100%;
    margin-right: 20px;
    border-color: white;
}

#button {
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    width: 100px;
    color: grey;

}

#button:hover {
    color: white;
}

#search-bar {
    display: flex;
}

.song-button {
    color: white;
    font-family: monospace;
    font-size: 30px;
    white-space: normal;
    word-wrap: break-word;
}

#songs-container {
    display: table;
    margin: auto;
}

.list-item {
    margin-top: 20px;
}
