.main-container {

}

.song-container {
    margin-top: 2%;
}

.title-label {
    font-family: monospace;
    font-size: 50px;
    line-height: 50px;
    color: yellowgreen;
    margin-bottom: 20px;
}

.playlist-card {
    font-size: 20px;
    font-family: monospace;

}

.empty-label {
    font-family: monospace;
    font-size: 30px;
    line-height: 30px;
    color: yellowgreen;
}