#container {

}

:host {
}

#input {
    font-size: 50px;
    color: white;
    width: 100%;
}

mat-form-field {
    width: 100%;
    margin-right: 20px;
}

#go-button {
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    width: 100px;
    color: grey;
}

#go-button:hover {
    color: white;
}

#search-bar {
    display: flex;
}

.song-button {
    background-color: transparent;
    border-color: transparent;
    color: #19972e;
    font-family: monospace;
    font-size: 30px;
    white-space: normal;
    word-wrap: break-all;
    width: 100%;
    text-align: left;
    border-radius: 20px;
}

.song-button:hover {
    background-color: rgb(30, 30, 30);
}

#songs-container {
    display: block;
    padding-left: 0px;
    list-style-type: none;
}

.list-item {
    margin-top: 20px;
    display: block;
   
}

.song-container {
    width: 100%;
}

#add-playlist-button {
    border-radius: 10px;
    color: white;
    margin-bottom: 10px;
}