<div id="container">
    <div id="search-bar">
        <mat-form-field color="primary">
            <input id="input" matInput placeholder="Enter a song" (keypress)="VerifyInput($event)" [(ngModel)]="keyword">
        </mat-form-field>
        <button mat-button id="go-button" (click)="ButtonClicked()">Go</button>
    </div>
    <ul id="songs-container">
        <li class="list-item" *ngFor="let song of this.musicGetterService.songs">
            <div class="song-container">
                <button (click)="SongClicked(song)" class="song-button">
                    <p>{{song.title}}</p>
                    <p id="views-label">{{song.viewCount.text}}</p>
                    <p id="views-label">{{song.duration}} min</p>
                </button>
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
                    <button mat-button id="add-playlist-button" (click)="ToggleShowPlaylist(song)">
                        Add to playlist
                    </button>
                    <mat-select placeholder="Choose a playlist" [(ngModel)]="selectedValue" name="food" *ngIf="showPlaylist[musicGetterService.songs.indexOf(song)]" fxFlex="30" >
                        <mat-option *ngFor="let playlist of musicGetterService.playlists" [value]="playlist.playlist_title" (click)="PlaylistClicked(playlist, song)">
                          {{playlist.playlist_title}}
                        </mat-option>
                    </mat-select>
                </div>
                
            </div>
        </li>
    </ul>
</div>
