<div class="song-container" fxLayout="row">
    <button 
        mat-button 
        (click)="SongClicked(song)" 
        class="song-button action-buttons"
        fxFlex
    >
        <p>{{song.title}}</p>
        <img *ngIf="showThumbnail" src={{song.thumbnails[0].url}} alt="thumbnail" width="100%">
        <div *ngIf="showDetails">
            <p id="views-label">{{song.viewCount.text}}</p>
            <p id="views-label">{{song.duration}} min</p>
        </div>
    </button>
    <button 
        mat-button
        (click)="ToggleShowPlaylist(song)"
        color="primary"
        class="action-buttons"
        matTooltip="Add this song to a playlist"
    >
        <mat-icon>
            playlist_add
        </mat-icon>
    </button>
    
    <mat-select placeholder="Choose a playlist" [(ngModel)]="selectedValue" *ngIf="showPlaylist" fxFlex="20">
        <mat-option *ngFor="let playlist of backendService.playlists" [value]="playlist.playlist_title" (click)="PlaylistClicked(playlist, song)">
            {{playlist.playlist_title}}
        </mat-option>
    </mat-select>
 
    <button 
        mat-button 
        (click)="AddToQueue(song)" 
        color="primary"
        class="action-buttons"
        matTooltip="Add this song to the queue"
    >
        <mat-icon>
            queue_music
        </mat-icon>
    </button>

</div>
