.song-button {
    background-color: transparent;
    border-color: transparent;
    color: #19972e;
    font-family: monospace;
    font-size: 30px;
    white-space: normal;
    word-wrap: break-all;
    width: 80%;
    text-align: left;
    border-radius: 20px;
}

.song-button:hover {
    background-color: rgb(30, 30, 30);
}

.song-container {
    width: 100%;
    background-color: rgba(59, 59, 59, 0.1);
    border-radius: 20px;
}

#add-playlist-button {
    border-radius: 10px;
    color: white;
}

#views-label {
    font-size: 20px;
    color: yellowgreen;
}