.song-button {
    color: #19972e;
    font-family: monospace;
    font-size: 30px;
    white-space: normal;
    word-wrap: break-all;
    text-align: left;
}

.song-button:hover {
    background-color: rgb(30, 30, 30);
}

.song-container {
    background-color: rgba(59, 59, 59, 0.1);
    border-radius: 20px;
}

#views-label {
    font-size: 20px;
    color: yellowgreen;
}

.action-buttons {
    border-radius: 20px;
}

.droplist {
    height: 100%;
}