:host {
    width: 30%;
}

#input {
    font-size: 20px;
}

.label {
    font-family: monospace;
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 30px;
}

.cancel-button {
    color:red;
}

.good-button {
    color:#19972e;
}

.action-button {
    background-color: transparent;
    border-color: transparent;
    border-radius: 10%;
    font-size: 20px;
}

.action-button:hover {
    background-color: rgb(44, 44, 44);
}
