<div fxLayout="column" fxLayoutGap="10px">
    <mat-form-field color="primary">
        <input id="playlist-name-input" matInput placeholder="Enter your playlist name" maxlength=16 [(ngModel)]="name">
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="end center" color="primary">
        <button class="cancel-button action-button" mat-dialog-close>
            <mat-icon class="cancel-button" [inline]="true">cancel</mat-icon>
        </button>
        <button class="good-button action-button" fxFlexOffset="5" (click)="CheckClicked($event)" mat-dialog-close>
            <mat-icon width="100%" [inline]="true">check</mat-icon>
        </button>
    </div>
</div>
