.song-label {
    white-space: normal;
    background-color: transparent;
}

.delete-button {
    color: red;
}

.delete-button:hover {
    background-color: rgb(44, 0, 0);
}

.current-song {
    background-color: rgba(22, 126, 22, 0.1);
}