<div class="main-container" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="50px">
    <p id="music-playing-label">{{GetCurrentSong()}}</p>
    <div fxLayout="row" fxFill fxLayoutAlign="space-around center">
        <button mat-button class="buttons" color="primary" (click)="PreviousClicked()">
            <mat-icon [inline]="true" id="button-logo">skip_previous</mat-icon>
        </button>
        <button mat-button class="buttons" color="primary" (click)="PlayClicked()">
            <mat-icon [inline]="true" id="button-logo">{{musicPlayerService.buttonLogo}}</mat-icon>
        </button>
        <button mat-button class="buttons" color="primary" (click)="NextClicked()">
            <mat-icon [inline]="true" id="button-logo">skip_next</mat-icon>
        </button>
    </div>
    <div class="song-progress-container" fxLayout="row" fxLayoutAlign="space-around center" fxFill>
        {{(musicPlayerService.audioPlayerElement.currentTime).toFixed()}}
        <mat-slider 
            color="primary"
            min="0" 
            max="1000" 
            id="slider-progress" 
            (input)="TimeChanged($event)" 
            [(ngModel)]="musicPlayerService.sliderMusicProgression"
            [disabled]="musicPlayerService.IsAudioPlaying()" 
            fxFlex="75"
        >
        </mat-slider>
        {{(musicPlayerService.audioPlayerElement.duration).toFixed()}}

    </div>
    
    <div id="volume-container" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
        <button mat-button [ngClass]="{'volume-clicked' : musicPlayerService.audioPlayerElement.volume === 0.0}" (click)="ToggleMute()">
            <mat-icon class="volume-image" color="primary">volume_off</mat-icon>
        </button>
        <mat-slider 
            height="15px"
            color="primary"
            min="0" 
            max="100" 
            id="slider-audio"
            (input)="VolumeChanged($event)"
            [(ngModel)]="sliderVolumeValue"
        >
        </mat-slider>
        <button mat-button [ngClass]="{'volume-clicked' : musicPlayerService.audioPlayerElement.volume === 1.0}" (click)="ToggleMaxVolume()">
            <mat-icon class="volume-image" color="primary">volume_up</mat-icon>
        </button>
    </div>
    <mat-spinner *ngIf="musicPlayerService.isLoading" color="primary" class="loading-spinner" diameter="50"></mat-spinner>
</div>
