<mat-toolbar color="warn">
    <mat-toolbar-row>
        <img id="page-logo" src="../../../../assets/page-logo.png" alt="page-logo" />
        <mat-card-title class="title">
            Doge Radio
        </mat-card-title>
        <span class="example-spacer"></span>
        <mat-card-actions>
            <a routerLink="/home" id="playlist-button" routerLinkActive="active">home</a>
        </mat-card-actions>
        <mat-card-actions>
            <a [routerLink]="['/playlists']" id="playlist-button" routerLinkActive="active">Playlists</a>
        </mat-card-actions>
    </mat-toolbar-row>
</mat-toolbar>
  
  