<div class="song-container" >
    <button (click)="SongClicked(song)" class="song-button">
        <p>{{song.title}}</p>
        <img *ngIf="showThumbnail" src={{song.thumbnails[0].url}} alt="thumbnail" width="100%">
        <div *ngIf="showDetails">
            <p id="views-label">{{song.viewCount.text}}</p>
            <p id="views-label">{{song.duration}} min</p>
        </div>

    </button>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
        <button mat-button id="add-playlist-button" (click)="ToggleShowPlaylist(song)">
            Add to playlist
        </button>
        
        <mat-select placeholder="Choose a playlist" [(ngModel)]="selectedValue" name="food" *ngIf="showPlaylist[musicGetterService.searchedSongs.indexOf(song)]" fxFlex="30" >
            <mat-option *ngFor="let playlist of musicGetterService.playlists" [value]="playlist.playlist_title" (click)="PlaylistClicked(playlist, song)">
              {{playlist.playlist_title}}
            </mat-option>
        </mat-select>
        <button mat-button id="add-playlist-button" (click)="AddToQueue(song)">
            Add to queue
        </button>
    </div>
</div>
