:host{
    width: 100%;
}
#music-playing-label {
    font-size: 30px;
    color: yellowgreen;
    margin-bottom: 30px;
    line-height: 30px;
    white-space: normal;
    word-wrap: normal;
    text-align: center;
}
.mat-button {
    padding: 0;
}
.buttons {
    background-color: transparent;
    border-color: transparent;
    width:  50px;
    height: 50px;
    margin-bottom: 50px;
    font-size: 50px;
    border-radius: 10%;
}
.play-button:hover {
    background-color: rgb(23, 34, 22);
}

#slider-progress {
    width: 75%;
    height: 15px;
    background: #19972e;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin-bottom: 50px;
    border-radius: 20px;
}

#slider-progress:hover {
    opacity: 1;
}

#slider-progress::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: #19972e;
    cursor: pointer;
}

#slider-progress::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

#volume-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#slider-audio {
    width: 30%;
    height: 15px;
    background: #19972e;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 20px;
    margin-right: 20px;
}

#slider-audio:hover {
    opacity: 1;
}

#slider-audio::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    background: #19972e;
    cursor: pointer;
}

#slider-audio::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}

#volume-image {
    background-color: transparent;
}
