#input {
    font-size: 50px;
    color: white;
}

mat-form-field {
    width: 100%;
    margin-right: 20px;
}

#go-button {
    background-color: transparent;
    border-color: transparent;
    font-size: 20px;
    width: 100px;
    color: grey;
}

#go-button:hover {
    color: white;
}

#search-bar {
    display: flex;
}

.list-item {
    margin-top: 20px;
    list-style-type: none;
}

