#main-container {
    background-color: darkslategrey;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: left;
}

#title {
    font-size: 40px;
    margin-left: 20px;
    font-family: monospace;
    color: white;
}

#page-logo {
    height: 90%;
    margin-left: 10px;
}